@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: 237 247 244;
    --text-100: 220 239 234;
    --text-200: 184 224 213;
    --text-300: 149 208 191;
    --text-400: 113 193 170;
    --text-500: 78 177 149;
    --text-600: 62 142 119;
    --text-700: 47 106 89;
    --text-800: 31 71 60;
    --text-900: 16 35 30;
    --text-950: 8 18 15;

    --background-50: 229 255 247;
    --background-100: 204 255 240;
    --background-200: 153 255 224;
    --background-300: 102 255 209;
    --background-400: 51 255 194;
    --background-500: 0 255 179;
    --background-600: 0 204 143;
    --background-700: 0 153 107;
    --background-800: 0 102 71;
    --background-900: 0 51 36;
    --background-950: 0 26 18;

    --primary-50: 232 245 253;
    --primary-100: 208 234 251;
    --primary-200: 162 214 246;
    --primary-300: 115 193 242;
    --primary-400: 68 173 238;
    --primary-500: 22 152 233;
    --primary-600: 17 122 187;
    --primary-700: 13 91 140;
    --primary-800: 9 61 93;
    --primary-900: 4 30 47;
    --primary-950: 2 15 23;

    --secondary-50: 239 243 245;
    --secondary-100: 224 231 235;
    --secondary-200: 193 207 215;
    --secondary-300: 162 182 195;
    --secondary-400: 131 158 175;
    --secondary-500: 99 134 156;
    --secondary-600: 80 107 124;
    --secondary-700: 60 80 93;
    --secondary-800: 40 54 62;
    --secondary-900: 20 27 31;
    --secondary-950: 10 13 16;

    --accent-50: 232 253 246;
    --accent-100: 208 251 237;
    --accent-200: 161 247 218;
    --accent-300: 114 243 200;
    --accent-400: 67 239 182;
    --accent-500: 20 235 163;
    --accent-600: 16 188 131;
    --accent-700: 12 141 98;
    --accent-800: 8 94 65;
    --accent-900: 4 47 33;
    --accent-950: 2 23 16;
  }
  .dark {
    --text-50: 8 18 15;
    --text-100: 16 35 30;
    --text-200: 31 71 60;
    --text-300: 47 106 89;
    --text-400: 62 142 119;
    --text-500: 78 177 149;
    --text-600: 113 193 170;
    --text-700: 149 208 191;
    --text-800: 184 224 213;
    --text-900: 220 239 234;
    --text-950: 237 247 244;

    --background-50: 0 26 18;
    --background-100: 0 51 36;
    --background-200: 0 102 71;
    --background-300: 0 153 107;
    --background-400: 0 204 143;
    --background-500: 0 255 179;
    --background-600: 51 255 194;
    --background-700: 102 255 209;
    --background-800: 153 255 224;
    --background-900: 204 255 240;
    --background-950: 229 255 247;

    --primary-50: 2 15 23;
    --primary-100: 4 30 47;
    --primary-200: 9 61 93;
    --primary-300: 13 91 140;
    --primary-400: 17 122 187;
    --primary-500: 22 152 233;
    --primary-600: 68 173 238;
    --primary-700: 115 193 242;
    --primary-800: 162 214 246;
    --primary-900: 208 234 251;
    --primary-950: 232 245 253;

    --secondary-50: 10 13 16;
    --secondary-100: 20 27 31;
    --secondary-200: 40 54 62;
    --secondary-300: 60 80 93;
    --secondary-400: 80 107 124;
    --secondary-500: 99 134 156;
    --secondary-600: 131 158 175;
    --secondary-700: 162 182 195;
    --secondary-800: 193 207 215;
    --secondary-900: 224 231 235;
    --secondary-950: 239 243 245;

    --accent-50: 2 23 16;
    --accent-100: 4 47 33;
    --accent-200: 8 94 65;
    --accent-300: 12 141 98;
    --accent-400: 16 188 131;
    --accent-500: 20 235 163;
    --accent-600: 67 239 182;
    --accent-700: 114 243 200;
    --accent-800: 161 247 218;
    --accent-900: 208 251 237;
    --accent-950: 232 253 246;
  }
}
